<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/product'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.displayName}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Display Name
                    </div>
                    <div class="subtitle secondary-text">
                        <span>displayName</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-product-button" [disabled]="productForm.invalid"
                *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>Add</span>
            </button>

            <button mat-raised-button class="save-product-button"
                [disabled]="productForm.invalid || productForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveProduct()">
                <span>Save</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field *ngIf="pageType ==='edit'" appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>productId</mat-label>
                                    <input style="color: darkgrey;" matInput placeholder="productId" name="name"
                                        readonly formControlName="id" required>
                                </mat-form-field>

                                <mat-form-field *ngIf="pageType ==='edit'" appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>name</mat-label>
                                    <input style="color: darkgrey;" matInput placeholder="name" name="name" readonly
                                        formControlName="name" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>displayName</mat-label>
                                    <input matInput placeholder="displayName" name="displayName"
                                        formControlName="displayName" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>description</mat-label>
                                    <textarea matInput placeholder="description" name="description"
                                        formControlName="description" rows="2">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>productCategory</mat-label>

                                    <mat-select formControlName="productCategory" required>
                                        <mat-option *ngFor="let categ of productCategories" [value]="categ.category_id">
                                            {{categ.category_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>productLabels</mat-label>

                                    <mat-chip-list #tagList name="productLabels" formControlName="productLabels">

                                        <mat-chip *ngFor="let label of product.productLabels; let i = index"
                                            [removable]="true" (removed)="removeProductLabel(i)" >
                                            <strong>key:&nbsp;</strong>{{label.key}}&nbsp;
                                            <strong>value:&nbsp;</strong>{{label.value}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input readonly [matChipInputFor]="tagList" (click)="addProductLabel()"/>
                                        <button type="button" mat-mini-fab (click)="addProductLabel()">
                                            <mat-icon>add</mat-icon>
                                        </button>

                                    </mat-chip-list>

                                </mat-form-field>
                                <button color="warn" mat-raised-button class="save-product-button"
                                    [disabled]="productForm.invalid" *ngIf="pageType ==='edit'"
                                    (click)="deleteProduct()">
                                    <span>Delete</span>
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>

                        </mat-tab>

                        <mat-tab label="Reference images" *ngIf="pageType ==='edit'">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <div *ngFor="let image of productImagesReference">

                                        <div class="fuse-card" style="margin: 10px;">

                                            <img class="media reference-image" [src]="image.image_url" alt="productImageRefence">

                                            <div class="p-16 pt-0 line-height-1.75">
                                                <div class="h4 primary-text"><strong>referenceName</strong></div>
                                                <p style="font-size: 12px; margin-top: -5px;">{{image.name}}</p>
                                                <mat-accordion>
                                                    <mat-expansion-panel
                                                        *ngFor="let vertices of image.boundingPolys;  let x = index">
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                normalizedVertice {{x + 1}}
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <mat-list>
                                                            <mat-list-item *ngFor="let vertice of vertices.normalizedVertices">
                                                                <mat-icon mat-list-icon>aspect_ratio</mat-icon>
                                                                <h4 mat-line><strong>x: </strong>{{vertice.x}}</h4>
                                                                <h4 mat-line><strong>y: </strong>{{vertice.y}}</h4>
                                                            </mat-list-item>
                                                        </mat-list>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </div>

                                            <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                                <button mat-button (click)="fullViewImageReference(image.image_url)"
                                                    color="accent">Full view</button>
                                                <button mat-button (click)="deleteImageReference(image.uri)"
                                                    color="warn">Delete</button>
                                            </div>

                                        </div>

                                    </div>
                                    <button (click)="addImageReference()" style="margin: 10px;" mat-mini-fab>
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>