<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
    <div class="content p-24">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">        
            <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="formUser"
                [formGroup]="formUser">

                <div class="h2 mb-24">Product</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                        <mat-label>productId</mat-label>
                        <input matInput formControlName="productId">
                    </mat-form-field>

                </div>
                <button style="width: 150px;" color="accent" mat-raised-button class="save-product-button" [disabled]="formUser.invalid" (click)="addProductLabel()">
                    <span>Confirm&nbsp;</span>
                    <mat-icon>check</mat-icon>
                </button>
            </form>
        </div>
    </div>
</div>